name: lofelt
description: Unlock the Power of Haptics in Mobile Devices on Flutter. Lofelt builds state-of-the-art haptic technologies for iOS and Android developers and creatives.
version: 0.1.1
homepage: https://github.com/jgrandchavin/lofelt
repository: https://github.com/jgrandchavin/lofelt

environment:
  sdk: ">=2.12.0-0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dev.juliengrandchavin.lofelt
        pluginClass: LofeltPlugin
      ios:
        pluginClass: LofeltPlugin
